.imageParent
{
    background-color: brown;
}

.image
{
    width: inherit;
    height: inherit;
    background-color: darkred;
}

.gridParent
{
    width: 100%;
    
    background-color: blueviolet;
}